@charset "utf-8";

@media(max-width:768px){
    .pc{
        display: none !important;
    }
    .sp{
        display: block;
    }
    /*------------------------------------
    header
    ------------------------------------*/
    header{
        width: 100%;
        padding-bottom: 60px;
        border-bottom: 1px solid #000;
    }
    header.main_header{
        padding: 10px 0 25px;
        border-bottom: 0;
    }
    #header .logo{
        width: 40%;
        position: absolute;
        left: 20px;
        top: 16px;
    }

    /*------------------------------------
    nav
    ------------------------------------*/
    .menu-trigger{
        position: absolute; 
        top: 35px; 
        right: 20px; 
        width: 42px; 
        height: 34px; 
    }
    .menu-trigger span{
        height: 5px;
    }
    .menu-trigger span:nth-child(2){
        top: 14px;
    }
    .menu-trigger.active span:nth-child(1){
        -webkit-transform: translateY(10px) rotate(-45deg);
        transform: translateY(10px) rotate(-45deg);
        background: #fff;
    }
    .menu-trigger.active span:nth-child(3){
        transform: translateY(-18px) rotate(45deg);
    }
    #nav_wrap ul{
        top: 32%;
    }
    #nav_wrap ul li a{
        font-size: 2em;
    }

    /*------------------------------------
    sns
    ------------------------------------*/
    .sns_sp{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
    }
    .sns_sp span{
        width: 50px;
    }
    .sns_sp span:nth-child(2){
        width: 44px;
    }
    .sns_sp span + span{
        margin-left: 30px;
    }
    .sns_sp span img{
        width: 100%;
        vertical-align: middle;
    }

    /*------------------------------------
    page top button
    ------------------------------------*/
    .ScrollTop {
        position: fixed;
        right: 10px;
        bottom: 10px;
        width: 65px;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #000;
        color: #fff;
        text-decoration: none;
        opacity: 0;
        transition: all 0.65s;
        z-index: 999;
        border-radius: 100%;
        letter-spacing: 3px;
        box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
      }
      .ScrollTop.isActive {
        opacity: 1;
        transition: all 0.65s;
      }

    /*------------------------------------
    list page 共通
    ------------------------------------*/
    .contents{
        width: 94%;
    }
    .contents .title{
        font-size: 2.2em;
        padding: 30px 0;
    }
    /*------------------------------------
    main
    ------------------------------------*/
    #main.wrap{
        max-height: none;
    }
    #main_contents{
        max-width: 100%;
        width: 100%;
        padding-top: 35px;
    }

    /*------------------------------------
    list 共通
    ------------------------------------*/
    .contents.web .list_wrap .item, .contents.web .list_wrap .item, .item-hover, .contents.web .list_wrap .item, .item-hover .mask, .contents.web .list_wrap .item, .item-img, .contents.web .list_wrap .item, .item-info,
    .contents.artwork .list_wrap .item, .contents.artwork .list_wrap .item-hover, .contents.artwork .list_wrap .item-hover .mask, .contents.artwork .list_wrap .item-img, .contents.artwork .list_wrap .item-info,
    .contents.artwork .list_wrap .item:nth-child(1), .contents.artwork .list_wrap .item:nth-child(1) .item-hover, .contents.artwork .list_wrap .item:nth-child(1) .item-hover .mask, .contents.artwork .list_wrap .item:nth-child(1) .item-img, .contents.artwork .list_wrap .item:nth-child(1) .item-info,
    .contents.artwork .list_wrap .item:nth-child(2), .contents.artwork .list_wrap .item:nth-child(2) .item-hover, .contents.artwork .list_wrap .item:nth-child(2) .item-hover .mask, .contents.artwork .list_wrap .item:nth-child(2) .item-img, .contents.artwork .list_wrap .item:nth-child(2) .item-info,
    .contents.artwork .list_wrap .item:nth-child(3), .contents.artwork .list_wrap .item:nth-child(3) .item-hover, .contents.artwork .list_wrap .item:nth-child(3) .item-hover .mask, .contents.artwork .list_wrap .item:nth-child(3) .item-img, .contents.artwork .list_wrap .item:nth-child(3) .item-info,
    .contents.artwork .list_wrap .item:nth-child(4), .contents.artwork .list_wrap .item:nth-child(4) .item-hover, .contents.artwork .list_wrap .item:nth-child(4) .item-hover .mask, .contents.artwork .list_wrap .item:nth-child(4) .item-img, .contents.artwork .list_wrap .item:nth-child(4) .item-info,
    .contents.artwork .list_wrap .item:nth-child(5), .contents.artwork .list_wrap .item:nth-child(5) .item-hover, .contents.artwork .list_wrap .item:nth-child(5) .item-hover .mask, .contents.artwork .list_wrap .item:nth-child(5) .item-img, .contents.artwork .list_wrap .item:nth-child(5) .item-info,
    .contents.artwork .list_wrap .item:nth-child(6), .contents.artwork .list_wrap .item:nth-child(6) .item-hover, .contents.artwork .list_wrap .item:nth-child(6) .item-hover .mask, .contents.artwork .list_wrap .item:nth-child(6) .item-img, .contents.artwork .list_wrap .item:nth-child(6) .item-info{
        width: 100%;
        height: auto;
        overflow: hidden;
        position: relative;
    }
    .contents.web .list_wrap .item, .contents.artwork .list_wrap .item{
        margin-right: 0;
    }
    .item .item-hover, .contents.artwork .list_wrap .item:nth-child(1) .item-hover, .contents.artwork .list_wrap .item:nth-child(2) .item-hover, .contents.artwork .list_wrap .item:nth-child(3) .item-hover, .contents.artwork .list_wrap .item:nth-child(4) .item-hover, .contents.artwork .list_wrap .item:nth-child(5) .item-hover, .contents.artwork .list_wrap .item:nth-child(6) .item-hover{
        position: absolute;
        height: 100%;
    }
    .item-img img{
        clear: both;
    }

/*------------------------------------
detail page 共通
------------------------------------*/
.detail .tit_tag_wrap{
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 5px;
}
    .detail .title{
        text-align: center;
        padding-bottom: 23px;
        font-size: 2em;
    }
    .detail .tag{
        padding-top: 0;
        padding-bottom: 0;
    }
    .flickity-page-dots{
        bottom: -13%;
    }
    .detail .description{
        padding-top: 20%;
        flex-direction: column;
    }
    .detail .description ul{
        width: 100%;
    }
    .detail .description ul:first-child{
        border-right: none;
        padding-right: 0;
    }
    .detail .description ul:last-child{
        padding-left: 0;
    }
    .detail .description ul li{
        border-bottom: 1px solid #a9a9a9;
        margin-bottom: 8%;
    }
    .detail .description ul li.qr{
        display: none;
    }
    .detail .description ul:last-child li:last-child{
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

