@charset "utf-8";

/*------------------------------------
main
------------------------------------*/
#main.wrap{
    width: 100%; 
    max-height: 1080px; 
    height: 100%; 
    position: relative; 
    overflow: hidden;
}
#main_contents{
    max-width: 1500px;
    width: 78.125%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
#main_contents .main_img{
    /*height: 995px;*/
    background: #fff;
}
#main_contents .main_sp{
    display: none;
}

/*------------------------------------
list 共通
------------------------------------*/
/* filter tag */
.list .tag ul li{
    width: 126px;
    height: 34px;;
    box-sizing: border-box;
    border: 2px solid #000;
    font-size: 19px;
    padding-top: 1px;
    position: relative;
    display: block;
}
.list .tag ul li.tag_all{
    padding-top: 2px;
}
.contents .tag ul li:hover{
    color: #fff;
}
.contents .tag ul li::before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: '';
    background: #000;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform .3s;
    border-radius: 100px;
}
.contents .tag ul li:hover::before{
    transform-origin: left top;
    transform: scale(1, 1);
    border-radius: 100px;
}
.contents .tag ul li.tag_design:hover::before{
    background: #fc7982;
    color: #fff;
}
.contents .tag ul li.tag_cording:hover::before{
    background: #3e3e82;
    color: #fff;
}
.contents .tag ul li.tag_direction:hover::before{
    background: #56adb5;
    color: #fff;
}
.contents .tag ul li.tag_psd:hover::before{
    background: #42b7e8;
    color: #fff;
}
.contents .tag ul li.tag_ai:hover::before{
    background: #f78a41;
    color: #fff;
}
.filter a {
    position: relative;
}
  
.filter a.active:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0 0;
    border-color: #333 transparent transparent transparent;
}
/* list */
.contents .list_wrap{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.contents .list_wrap ul li{
    float: left;
    width: 31%;
    margin: 0 1.042% 2% 1.042%;
}
.list_link{
    position: relative;
}
.list_link img{
    display: inline-block;
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}
.list_link:hover .overlay {opacity: 1;}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/*------------------------------------
Web list page
------------------------------------*/
.list .web_tag ul{
    width: 550px;
    margin: 0 auto;
}

/*------------------------------------
artwork list page
------------------------------------*/
.list .artwork_tag ul{
    width: 435px;
    margin: 0 auto;
}
.list .artwork_tag ul li{
    width: 135px;
}
.list .artwork_list_wrap ul li:nth-child(4){
    position: absolute;
    top: 43%;
}

/*------------------------------------
detail page 共通
------------------------------------*/
.detail .tit_tag_wrap{
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 1.2%;
}
.detail .title{
    text-align: left;
    float: left;
    padding-right: 2.3%;
    padding-bottom: 0;
}
.detail .tag{
    padding-top: 60px;
    padding-bottom: 0;
}
.detail .artwork_tag{
    padding-top: 65px;
}
.detail .tag ul li{
    color: #fff;
    margin-right: 10px;
    font-size: 16px;
    cursor: auto;
    height: 26px;
    padding-top: 1px;
}
.detail .web_tag ul li.design{
    background: #fc7982;
}
.detail .web_tag ul li.cording{
    background: #3e3e82;
}
.detail .web_tag ul li.direction{
    background: #56adb5;
}
.detail .artwork_tag ul li.tag_psd{
    background: #42b7e8;
}
.detail .artwork_tag ul li.tag_ai{
    background: #f78a41;
}
.detail .description{
    padding-top: 12%;
}
.detail .no_gallery_des{
    padding-top: 8%;
}
.detail .description ul{
    width: 50%;
    box-sizing: border-box;
    float: left;
}
.detail .description ul:first-child{
    border-right: 1px solid #000;
    padding-right: 3%;
}
.detail .description ul:last-child{
    padding-left: 3%;
}
.detail .description ul li.url{
    word-break: break-all;
}
.detail .description ul li{
    padding-bottom: 8%;
    line-height: 170%;
}
.detail .description ul li.qr{
    width: 26%;
    float: right;
}
.detail .description ul li span.des_tit{
    display: block;
    font-weight: 600;
    font-size: 1.4em;
    padding-bottom: 3%;
}
.detail .description ul li span.small_txt{
    display: block;
    font-size: 0.9em;
    padding-top: 3%;
}

/*------------------------------------
Web detail page
------------------------------------*/
.detail .web_tag ul li{
    width: 94px; 
}

/*------------------------------------
Artwork detail page
------------------------------------*/
.detail .artwork_tag ul li{
    width: 100px;   
}
