@charset "utf-8";

/*------------------------------------
main
------------------------------------*/
#main.wrap{
    width: 100%; 
    max-height: 1080px; 
    height: 100%; 
    position: relative; 
    overflow: hidden;
}
#main_contents{
    max-width: 1500px;
    width: 80%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
#main_contents .main_img{
    /*height: 995px;*/
    background: #fff;
}
#main_contents .main_sp{
    display: none;
}

/*------------------------------------
共通
------------------------------------*/
.contents{
    width: 960px;
}

/*------------------------------------
Web list 共通
------------------------------------*/
.contents .list_wrap{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.contents .list_wrap ul{
    display: flex;
    flex-wrap: wrap;
}
.item {
	text-align: center;
    position: relative;			
}
.item-hover,.item-hover .mask,.item-img { 
	position:absolute;
	top:0;
	left:0;			
}			
.item .item-hover {	
	z-index:5;	
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;	
	opacity:0;
	cursor:pointer;		
	display:block;
	text-decoration:none;
	text-align:center;								
}	
.item .item-info {
	z-index:10;
	color:#ffffff;
	display:table-cell;
	vertical-align:middle;
	position:relative;
	z-index:5;								 					
}
.item .item-info .headline {
	font-size:26px;			
}
.item .item-info .line {
    height:1px;
    width:0%;
    margin:8px auto 20px;
    background-color:#ffffff;
   -webkit-transition: all 500ms ease-out;
   -moz-transition: all 500ms ease-out;
   -o-transition: all 500ms ease-out;
   transition: all 500ms ease-out;					 
}
.item .item-info .catergory {
	font-size:14px;
}
.item .item-info .catergory span{
    border: 1px solid #fff;
    padding: 0px 10px;
}
.item .item-info .catergory span + span{
    margin-left: 6px;
}
.item .item-hover .mask {
	background-color:#000;
	opacity:0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);					
	z-index:0;
}
.item .item-hover:hover .line {
    width:40%;
}
.item .item-hover:hover {
	opacity:1;
}											
.item-img {			
	z-index:0;			
}	

/*------------------------------------
Web list page
------------------------------------*/
.contents.web .list_wrap .item{
    margin: 0 20px 20px 0;
}
.contents.web .list_wrap .item:nth-child(2n){
    margin-right: 0;
}
.contents.web .list_wrap .item,
.contents.web .list_wrap .item, .item-hover,
.contents.web .list_wrap .item, .item-hover .mask,
.contents.web .list_wrap .item, .item-img,
.contents.web .list_wrap .item, .item-info {
	width: 470px;
	height: 313px;						
}

/*------------------------------------
artwork list page
------------------------------------*/
.contents.artwork .list_wrap .item{
    margin: 0 15px 30px 0;
}
.contents.artwork .list_wrap .item:nth-child(3n){
    margin-right: 0;
}
.contents.artwork .list_wrap .item,
.contents.artwork .list_wrap .item-hover,
.contents.artwork .list_wrap .item-hover .mask,
.contents.artwork .list_wrap .item-img,
.contents.artwork .list_wrap .item-info {
	width: 310px;					
}
.contents.artwork .list_wrap .item:nth-child(1),
.contents.artwork .list_wrap .item:nth-child(1) .item-hover,
.contents.artwork .list_wrap .item:nth-child(1) .item-hover .mask,
.contents.artwork .list_wrap .item:nth-child(1) .item-img,
.contents.artwork .list_wrap .item:nth-child(1) .item-info{
    height: 232px;
}
.contents.artwork .list_wrap .item:nth-child(2),
.contents.artwork .list_wrap .item:nth-child(2) .item-hover,
.contents.artwork .list_wrap .item:nth-child(2) .item-hover .mask,
.contents.artwork .list_wrap .item:nth-child(2) .item-img,
.contents.artwork .list_wrap .item:nth-child(2) .item-info{
    height: 205px;
}
.contents.artwork .list_wrap .item:nth-child(3),
.contents.artwork .list_wrap .item:nth-child(3) .item-hover,
.contents.artwork .list_wrap .item:nth-child(3) .item-hover .mask,
.contents.artwork .list_wrap .item:nth-child(3) .item-img,
.contents.artwork .list_wrap .item:nth-child(3) .item-info{
    height: 206px;
}
.contents.artwork .list_wrap .item:nth-child(4),
.contents.artwork .list_wrap .item:nth-child(4) .item-hover,
.contents.artwork .list_wrap .item:nth-child(4) .item-hover .mask,
.contents.artwork .list_wrap .item:nth-child(4) .item-img,
.contents.artwork .list_wrap .item:nth-child(4) .item-info{
    height: 242px;
}
.contents.artwork .list_wrap .item:nth-child(5),
.contents.artwork .list_wrap .item:nth-child(5) .item-hover,
.contents.artwork .list_wrap .item:nth-child(5) .item-hover .mask,
.contents.artwork .list_wrap .item:nth-child(5) .item-img,
.contents.artwork .list_wrap .item:nth-child(5) .item-info{
    height: 360px;
}
.contents.artwork .list_wrap .item:nth-child(6),
.contents.artwork .list_wrap .item:nth-child(6) .item-hover,
.contents.artwork .list_wrap .item:nth-child(6) .item-hover .mask,
.contents.artwork .list_wrap .item:nth-child(6) .item-img,
.contents.artwork .list_wrap .item:nth-child(6) .item-info{
    height: 263px;
}

/*------------------------------------
detail page 共通
------------------------------------*/
.detail .tit_tag_wrap{
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 1.2%;
}
.detail .title{
    text-align: left;
    float: left;
    padding-right: 2.3%;
    padding-bottom: 0;
}
/* .detail .tag{
    padding-top: 60px;
    padding-bottom: 0;
}
.detail .artwork_tag{
    padding-top: 65px;
}
.detail .tag ul li{
    color: #fff;
    margin-right: 10px;
    font-size: 16px;
    cursor: auto;
    height: 26px;
    padding-top: 1px;
}
.detail .web_tag ul li.design{
    background: #fc7982;
}
.detail .web_tag ul li.cording{
    background: #3e3e82;
}
.detail .web_tag ul li.direction{
    background: #56adb5;
}
.detail .artwork_tag ul li.tag_psd{
    background: #42b7e8;
}
.detail .artwork_tag ul li.tag_ai{
    background: #f78a41;
} */
.detail .description{
    width: 100%;
    overflow: hidden;
    padding-top: 12%;
    display: flex;
}
.detail .no_gallery_des{
    padding-top: 8%;
}
.detail .description ul{
    box-sizing: border-box;
    width: 50%;
}
.detail .description ul:first-child{
    border-right: 1px solid #000;
    padding-right: 3%;
}
.detail .description ul:last-child{
    padding-left: 3%;
}
.detail .description ul li.url{
    word-break: break-all;
}
.detail .description ul li{
    padding-bottom: 8%;
    line-height: 170%;
}
.detail .description ul li.qr{
    width: 26%;
    float: right;
}
.detail .description ul li span.des_tit{
    display: block;
    font-weight: 600;
    font-size: 1.4em;
    padding-bottom: 3%;
}
.detail .description ul li span.small_txt{
    display: block;
    font-size: 0.9em;
    padding-top: 3%;
}
.detail .tag{
    display: inline-block;
    color: #fff;
    font-size: 16px;
    width: fit-content;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 0 10px;
}
.detail .tag span + span{
    margin-left: 10px;
}
.detail .tag.design{
    background: #fc7982;
}
.detail .tag.cording{
    background: #3e3e82;
}
.detail .tag.direction{
    background: #56adb5;
}
.detail .tag.operation{
    background: #535353;
}
.detail .tag.psd{
    background: #42b7e8;
}
.detail .tag.ai{
    background: #f78a41;
}

/*------------------------------------
Web detail page
------------------------------------*/
.detail .web_tag ul li{
    width: 94px; 
}

/*------------------------------------
Artwork detail page
------------------------------------*/
.detail .artwork_tag ul li{
    width: 100px;   
}
