        *{
            margin:0;
            padding:0;            
        }
        body{
            background-image:url(img/bg.jpg);
        }
        li{
            list-style:none;
        }
        a{
            text-decoration:none;
        }
        .con_3_main_text{
            font-size:18px;
            font-family:NanumGothic;
        }
        .con_3_main_text>a{
            color:#7b6c60;
        }
        .con_3_main_text:hover>a{
            text-decoration:underline;
        }
        /*--------------------------------------------------------------*/
        #all_page{
            width:1200px;
            height:900px;
            margin:0 auto;
            position:relative;
            overflow:hidden;
        }
        #lang_area{
            width:1200px;
            height:75px;
            position:relative;
            margin:0 auto;
        }
        #lang_area>img{
            position:absolute;
            top:51px;
            cursor:pointer;
        }
        #kor{
            right:46px;
        }
        #eng{
            right:6px;
        }
        /*--------------------------------------------------------------*/
        /*#logo_area{
            width:210px;
            height:750px;
            position:relative;
        }*/
        #logo{
            position:absolute;
            left:5px;
            top:371px;
        }
        /*--------------------------------------------------------------*/
         #main_section{
             width:990px;
             height:750px;
             position:relative;
             margin-left:210px;
             overflow:hidden;
         }
         #main_wrap{
             width:3960px;
             position:absolute;
         }
        .float_left{
            position:absolute;
            float:left;
        }
        #main_page{            
            width:990px;
            height:750px;
            left:0;
            /*position:absolute;
            right:0;
            overflow:hidden;*/
            /*z-index:999999999;*/
            /*display:none;*/
        }
        #con_1{
            
            left:990px;
        }
        #con_2{
            
            left:1980px;
        }
        #con_3{
            
            left:2970px;
        }
        #main_page>img{
            float:left;
            position:relative;
            cursor:pointer;
        }
        #main_page>img:hover{
            top:-751px;
        }
         /*--------------------------------------------------------------*/
         .article_main{
             background-image:url(img/article_bg.png);
             position:relative;
             float:left;
         }
         .con_h{
             position:absolute;
             width:40px;
             float:left;
         }
         .con_h_1{
             left:910px;
         }
         .con_h_2{
             left:950px;
         }
         .con_h:hover{
            top:-750px;
        }
         .con_title{
             position:absolute;
             top:30px;
             left:28px;
         }
         .con_sub_title{
             position:absolute;
             top:16px;
             left:831px;
         }
         .wine_title{
             font-size:14px;
             font-family:NanumGothic;
             font-weight:900;
         }
         .wine_title>a{
             color:#735c4a;
         }
         .wine_title:hover>a{
             text-decoration:underline;
         }
         /*--------------------------<con_1>------------------------------------*/
         /*#con_1{
             display:none;
             position:relative;
             left:0;
             width:0;
         }*/
         #con_1_main{
             background-image:url(img/articel_1_bg.png);
             width:910px;
             height:750px;
         }
         #con_1_text_box{
             /*width:853px;
             height:658px;*/
             position:relative;
             margin-top:92px;
             margin-left:62px;
         }
         #con_1_text_box>img{
             position:absolute;
         }
         #con_text_1{
             top:0;
             left:5px;
         }
         #con_text_2{
             left:0;
             top:232px;
         }
         /*--------------------------<con_2>------------------------------------*/
         /*#con_2{
             width:990px;
             width:0;
         }*/
         #con_2_main{
             width:910px;
             height:750px;
         }
         .con_2_wine{
             position:absolute;
             height:277px;
         }
         .con_2_wine>a>img{
             float:left;
         }
         #wine_1{
             width:357px;
             top:138px;
             left:30px;
         }
         #wine_2{
             width:369px;
             top:138px;
             left:439px;
         }
         #wine_3{
             width:350px;
             top:449px;
             left:30px;
         }
         #wine_3_ul>li:nth-child(4){
             float:left;
         }
         #wine_4{
             width:359px;
             top:449px;
             left:439px;
         }
         .con_2_ul{
             position:absolute;
             left:123px;
             top:6px;
         }
         #wine_1_ul>li:nth-child(2){
             margin-top:16px;
         }
         #wine_1_ul>li:nth-child(3){
             margin-top:14px;
         }
         #wine_1_ul>li:nth-child(4){
             margin-top:14px;
         }
         #wine_2_ul>li:nth-child(2){
             margin-top:36px;
         }
         #wine_2_ul>li:nth-child(3){
             margin-top:31px;
         }
         #wine_2_ul>li:nth-child(4){
             margin-top:14px;
         }
          #wine_3_ul>li:nth-child(2){
             margin-top:47px;
         }
         #wine_3_ul>li:nth-child(3){
             margin-top:56px;
         }
         #wine_3_ul>li:nth-child(4){
             margin-top:14px;
             margin-right:12px;
         }
         #wine_3_ul>li:nth-child(5){
             margin-top:14px;
         }
         #wine_4_ul>li:nth-child(2){
             margin-top:34px;
         }
         #wine_4_ul>li:nth-child(3){
             margin-top:28px;
         }
         #wine_4_ul>li:nth-child(4){
             margin-top:14px;
         }
         /*--------------------------<con_3>------------------------------------*/
         /*#con_3{
             display:none;
             width:990px;
             width:0;
         }*/
         #con_3_main{
             width:910px;
             height:750px;
         }         
         .where{
             position:absolute;
             top:169px;             
             float:left;
         }
         #america{
             left:26px;
         }
         #asia{
             left:208px;
         }
         #oceania{
             left:390px;
         }
         #eu_left{
             left:580px;
         }
         #eu_right{
             left:749px;
             top:230px;
         }
         .con_3_first{
             margin-top:37px;
         }
         .con_3_margin{
             margin-top:24px;
         }
         #con_3_active{
             width:910px;
             height:750px;
             background-image:url(img/active_bg.png);
             position:relative;
             display:none;
         }
         #active_box{
             width:550px;
             height:380px;
             background-image:url(img/input_box.png);
             position:absolute;
             left:180px;
             top:186px;
         }
         #active_box>img{
             position:absolute;
         }
         #active_box>img:nth-child(2){
             top:50px;
             left:23px;
         }
         #x{
             top:10px;
             right:15px;
             cursor:pointer;
         }
         #input_list{
             position:relative;
             top:150px;
             left:36px;
         }
         #input_list>li{
             height:15px;
             position:absolute;
         }
         #input_list>li:nth-child(2){
             top:67px;
         }
         #input_list>li:nth-child(3){
             top:135px;
         }
         #con_3_input>input{
             position:absolute;
             right:42px;
             width:300px;
             height:35px;
             background:white;
         }
         #name_box{
             top:140px;
         }
         #postal_box{
             top:205px;
         }
         #mail_box{
             top:275px;
         }
         #submit{
             width:80px;
             height:30px;
             position:absolute;
             bottom:10px;
             left:235px;
             background:white;
             cursor:pointer;
         }
         /*--------------------------------------------------------------*/
         #left_footer{
             width:131px;
             height:13px;
             position:absolute;
             left:39.5px;
             top:860px;
         }
         #right_footer{
             position:absolute;
             top:856px;
             left:960px;
         }
         .footer_menu{
             font-size:14px;
             color:#868580;
             font-family:Gulim;
             font-weight:500;
             float:left;
             margin-right:15px;
         }
         .footer_menu:last-child{
             margin-right:0;
         }
         .footer_menu>a{
             color:#868580;
         }
         .footer_menu:hover>a{
             text-decoration:underline;
         }
